# Folders to ignore
dojo
dijit
dojox
dgrid
xstyle
put-selector

# flat theme
!flat/**/dijit
!flat/**/dojox
!flat/**/dgrid

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
