@import "../variables";

.{$theme-name} {

	.dijitCalendarRtl .dijitCalendarDecrease {
		&:before {
			content: "\e60a";
		}
	}

	.dijitCalendarRtl .dijitCalendarIncrease {
		&:before {
			content: "\e60b";
		}
	}
	
}