@import "../variables";


.{$theme-name} {

	.dijitMenuBarRtl {
		text-align: right;
	}

	.dijitMenuItemRtl {
		text-align: right;
		
		.dijitMenuExpand {
			&:before {
				content: "\e601";
			}
		}
	}
	
}