/* TitlePane 
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.flat .dijitTitlePaneTitle {
  border-style: solid;
  border-width: 1px;
  border-color: #d0d0d0;
  padding: 4px 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  transition: all 0.05s linear;
  background: #fff;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.flat .dijitTitlePaneTitleHover {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  background: #f2f2f2;
}
.flat .dijitTitlePaneTitleActive {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  background: #e6e6e6;
}
.flat .dijitTitlePane .dijitArrowNode {
  font-family: "dojo-flat-icon";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: inherit;
  vertical-align: bottom;
  text-align: center;
}
.flat .dijitTitlePane .dijitArrowNode:before {
  content: "\e60d";
}
.flat .dijitTitlePane .dijitClosed {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.flat .dijitTitlePane .dijitClosed .dijitArrowNode:before {
  content: "\e60a";
}
.flat .dijitTitlePaneContentOuter {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-top: none;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.flat .dijitTitlePaneContentInner {
  padding: 8px;
}
.flat .dijitTitlePaneTextNode {
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: text-top;
}
