/* TitlePane */

@import "../variables";

.{$theme-name} {

	.dijitTitlePaneRtl {
		.dijitTitlePaneTitle {
			text-align: right;
		}
		.dijitClosed {
			.dijitArrowNode:before {
				content:"\e60b";
			}
		}
	}

}