/* Text Inputs: [TextBox | DateTextBox | CurrencyTextBox | ValidationTextBox | ...] | TextArea
 * Mainly includes:
 * 
 * 1. Containers
 * 		.dijitTextBox
 * 		.dijitInputField - container that wraps "dijitInputInner" or "dijitPlaceHolder"
 *
 * 2. Textbox input
 * 		.dijitInputInner
 * 		.dijitPlaceHolder
 *
 * 3. States - Hover, Focused, Disabled, Error, Error while Focused e.g.
 * 		.dijitTextBoxHover
 * 		.dijitTextBoxFocused
 * 		.dijitTextBoxDisabled
 *      .dijitTextBoxError
 *      .dijitTextBoxErrorFocused
 *
*/
.flat .dijitTextBox,
.flat .dijitInputInner {
  line-height: 20px;
}
.flat .dijitTextBox {
  background: #fafafa;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.flat .dijitTextArea {
  padding: 4px 6px;
}
.flat .dijitTextBox .dijitInputField {
  padding: 0 4px;
  margin: 0 2px;
}
.flat .dijitSelect.btn-primary,
.flat .dijitComboBox.btn-primary,
.flat .dijitSpinner.btn-primary {
  border-color: #1976d2;
}
.flat .dijitSelect.btn-success,
.flat .dijitComboBox.btn-success,
.flat .dijitSpinner.btn-success {
  border-color: #388e3c;
}
.flat .dijitSelect.btn-info,
.flat .dijitComboBox.btn-info,
.flat .dijitSpinner.btn-info {
  border-color: #29b6f6;
}
.flat .dijitSelect.btn-warning,
.flat .dijitComboBox.btn-warning,
.flat .dijitSpinner.btn-warning {
  border-color: #f57c00;
}
.flat .dijitSelect.btn-danger,
.flat .dijitComboBox.btn-danger,
.flat .dijitSpinner.btn-danger {
  border-color: #f44336;
}
.flat .dijitSelect.btn-inverse,
.flat .dijitComboBox.btn-inverse,
.flat .dijitSpinner.btn-inverse {
  border-color: #212121;
}
.flat .dijitTextBox .dijitInputInner,
.flat .dijitValidationTextBox .dijitValidationContainer,
.flat .dijitTextBox .dijitInputField .dijitPlaceHolder {
  padding: 4px;
}
.flat .dijitTextBoxHover {
  border-color: #2196f3;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.flat .dijitTextBoxFocused {
  border-color: #2196f3;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.flat .dijitTextBoxDisabled {
  color: #9e9e9e;
  background-color: #fafafa;
  border-color: #e3e3e3;
}
.flat .dijitComboBoxDisabled.btn-primary,
.flat .dijitSpinnerDisabled.btn-primary {
  background: #fafafa;
  color: #9e9e9e;
  border: 1px solid #5fa6ec;
}
.flat .dijitComboBoxDisabled.btn-primary .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-primary .dijitButtonNode {
  background: #5fa6ec;
  color: #ededed;
}
.flat .dijitSpinnerDisabled.btn-primary .dijitSpinnerButtonContainer {
  border-left-color: #5fa6ec;
}
.flat .dijitSpinnerRtlDisabled.btn-primary .dijitSpinnerButtonContainer {
  border-right-color: #5fa6ec;
}
.flat .dijitSelectDisabled.btn-primary {
  border-color: #5fa6ec;
}
.flat .dijitSelectDisabled.btn-primary .dijitStretch,
.flat .dijitSelectDisabled.btn-primary .dijitButtonNode {
  background: #5fa6ec;
  color: #ededed;
}
.flat .dijitComboBoxDisabled.btn-success,
.flat .dijitSpinnerDisabled.btn-success {
  background: #fafafa;
  color: #9e9e9e;
  border: 1px solid #6ec672;
}
.flat .dijitComboBoxDisabled.btn-success .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-success .dijitButtonNode {
  background: #6ec672;
  color: #ededed;
}
.flat .dijitSpinnerDisabled.btn-success .dijitSpinnerButtonContainer {
  border-left-color: #6ec672;
}
.flat .dijitSpinnerRtlDisabled.btn-success .dijitSpinnerButtonContainer {
  border-right-color: #6ec672;
}
.flat .dijitSelectDisabled.btn-success {
  border-color: #6ec672;
}
.flat .dijitSelectDisabled.btn-success .dijitStretch,
.flat .dijitSelectDisabled.btn-success .dijitButtonNode {
  background: #6ec672;
  color: #ededed;
}
.flat .dijitComboBoxDisabled.btn-info,
.flat .dijitSpinnerDisabled.btn-info {
  background: #fafafa;
  color: #9e9e9e;
  border: 1px solid #74d0f9;
}
.flat .dijitComboBoxDisabled.btn-info .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-info .dijitButtonNode {
  background: #74d0f9;
  color: #ededed;
}
.flat .dijitSpinnerDisabled.btn-info .dijitSpinnerButtonContainer {
  border-left-color: #74d0f9;
}
.flat .dijitSpinnerRtlDisabled.btn-info .dijitSpinnerButtonContainer {
  border-right-color: #74d0f9;
}
.flat .dijitSelectDisabled.btn-info {
  border-color: #74d0f9;
}
.flat .dijitSelectDisabled.btn-info .dijitStretch,
.flat .dijitSelectDisabled.btn-info .dijitButtonNode {
  background: #74d0f9;
  color: #ededed;
}
.flat .dijitComboBoxDisabled.btn-warning,
.flat .dijitSpinnerDisabled.btn-warning {
  background: #fafafa;
  color: #9e9e9e;
  border: 1px solid #ffaa53;
}
.flat .dijitComboBoxDisabled.btn-warning .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-warning .dijitButtonNode {
  background: #ffaa53;
  color: #ededed;
}
.flat .dijitSpinnerDisabled.btn-warning .dijitSpinnerButtonContainer {
  border-left-color: #ffaa53;
}
.flat .dijitSpinnerRtlDisabled.btn-warning .dijitSpinnerButtonContainer {
  border-right-color: #ffaa53;
}
.flat .dijitSelectDisabled.btn-warning {
  border-color: #ffaa53;
}
.flat .dijitSelectDisabled.btn-warning .dijitStretch,
.flat .dijitSelectDisabled.btn-warning .dijitButtonNode {
  background: #ffaa53;
  color: #ededed;
}
.flat .dijitComboBoxDisabled.btn-danger,
.flat .dijitSpinnerDisabled.btn-danger {
  background: #fafafa;
  color: #9e9e9e;
  border: 1px solid #f8857c;
}
.flat .dijitComboBoxDisabled.btn-danger .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-danger .dijitButtonNode {
  background: #f8857c;
  color: #ededed;
}
.flat .dijitSpinnerDisabled.btn-danger .dijitSpinnerButtonContainer {
  border-left-color: #f8857c;
}
.flat .dijitSpinnerRtlDisabled.btn-danger .dijitSpinnerButtonContainer {
  border-right-color: #f8857c;
}
.flat .dijitSelectDisabled.btn-danger {
  border-color: #f8857c;
}
.flat .dijitSelectDisabled.btn-danger .dijitStretch,
.flat .dijitSelectDisabled.btn-danger .dijitButtonNode {
  background: #f8857c;
  color: #ededed;
}
.flat .dijitComboBoxDisabled.btn-inverse,
.flat .dijitSpinnerDisabled.btn-inverse {
  background: #fafafa;
  color: #9e9e9e;
  border: 1px solid #6f6f6f;
}
.flat .dijitComboBoxDisabled.btn-inverse .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-inverse .dijitButtonNode {
  background: #6f6f6f;
  color: #ededed;
}
.flat .dijitSpinnerDisabled.btn-inverse .dijitSpinnerButtonContainer {
  border-left-color: #6f6f6f;
}
.flat .dijitSpinnerRtlDisabled.btn-inverse .dijitSpinnerButtonContainer {
  border-right-color: #6f6f6f;
}
.flat .dijitSelectDisabled.btn-inverse {
  border-color: #6f6f6f;
}
.flat .dijitSelectDisabled.btn-inverse .dijitStretch,
.flat .dijitSelectDisabled.btn-inverse .dijitButtonNode {
  background: #6f6f6f;
  color: #ededed;
}
.flat .dijitTextBoxError,
.flat .dijitTextBoxError .dijitButtonNode {
  border-color: #dd2c00;
}
.flat .dijitTextBoxErrorFocused,
.flat .dijitTextBoxErrorFocused .dijitButtonNode {
  border: 1px solid #bc2500;
}
.flat .dijitValidationTextBoxError .dijitValidationContainer {
  color: #dd2c00;
  width: 16px;
  font-variant: normal;
  text-transform: none;
  font-family: "dojo-flat-icon";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flat .dijitValidationTextBoxError .dijitValidationContainer:before {
  content: "\e607";
}
.flat .dijitValidationTextBoxError .dijitValidationIcon {
  display: none;
}
