/* Text Inputs: [TextBox | DateTextBox | CurrencyTextBox | ValidationTextBox | ...] | TextArea
 * Mainly includes:
 * 
 * 1. Containers
 * 		.dijitTextBox
 * 		.dijitInputField - container that wraps "dijitInputInner" or "dijitPlaceHolder"
 *
 * 2. Textbox input
 * 		.dijitInputInner
 * 		.dijitPlaceHolder
 *
 * 3. States - Hover, Focused, Disabled, Error, Error while Focused e.g.
 * 		.dijitTextBoxHover
 * 		.dijitTextBoxFocused
 * 		.dijitTextBoxDisabled
 *      .dijitTextBoxError
 *      .dijitTextBoxErrorFocused
 *
*/
.flat .dijitTextBox,
.flat .dijitInputInner {
  line-height: 20px;
}
.flat .dijitTextBox {
  background: #fff;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.flat .dijitTextArea {
  padding: 4px 6px;
}
.flat .dijitTextBox .dijitInputField {
  padding: 0 4px;
  margin: 0 2px;
}
.flat .dijitSelect.btn-primary,
.flat .dijitComboBox.btn-primary,
.flat .dijitSpinner.btn-primary {
  border-color: #007ac2;
}
.flat .dijitSelect.btn-success,
.flat .dijitComboBox.btn-success,
.flat .dijitSpinner.btn-success {
  border-color: #35ac46;
}
.flat .dijitSelect.btn-info,
.flat .dijitComboBox.btn-info,
.flat .dijitSpinner.btn-info {
  border-color: #00b9f2;
}
.flat .dijitSelect.btn-warning,
.flat .dijitComboBox.btn-warning,
.flat .dijitSpinner.btn-warning {
  border-color: #f89927;
}
.flat .dijitSelect.btn-danger,
.flat .dijitComboBox.btn-danger,
.flat .dijitSpinner.btn-danger {
  border-color: #da4d1e;
}
.flat .dijitSelect.btn-inverse,
.flat .dijitComboBox.btn-inverse,
.flat .dijitSpinner.btn-inverse {
  border-color: #333;
}
.flat .dijitTextBox .dijitInputInner,
.flat .dijitValidationTextBox .dijitValidationContainer,
.flat .dijitTextBox .dijitInputField .dijitPlaceHolder {
  padding: 4px;
}
.flat .dijitTextBoxHover {
  border-color: #f00;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.flat .dijitTextBoxFocused {
  border-color: #f00;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.flat .dijitTextBoxDisabled {
  color: #999;
  background-color: #f5f5f5;
  border-color: #d5d5d5;
}
.flat .dijitComboBoxDisabled.btn-primary,
.flat .dijitSpinnerDisabled.btn-primary {
  background: #f5f5f5;
  color: #999;
  border: 1px solid #32b3ff;
}
.flat .dijitComboBoxDisabled.btn-primary .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-primary .dijitButtonNode {
  background: #32b3ff;
  color: #f2f2f2;
}
.flat .dijitSpinnerDisabled.btn-primary .dijitSpinnerButtonContainer {
  border-left-color: #32b3ff;
}
.flat .dijitSpinnerRtlDisabled.btn-primary .dijitSpinnerButtonContainer {
  border-right-color: #32b3ff;
}
.flat .dijitSelectDisabled.btn-primary {
  border-color: #32b3ff;
}
.flat .dijitSelectDisabled.btn-primary .dijitStretch,
.flat .dijitSelectDisabled.btn-primary .dijitButtonNode {
  background: #32b3ff;
  color: #f2f2f2;
}
.flat .dijitComboBoxDisabled.btn-success,
.flat .dijitSpinnerDisabled.btn-success {
  background: #f5f5f5;
  color: #999;
  border: 1px solid #71d37f;
}
.flat .dijitComboBoxDisabled.btn-success .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-success .dijitButtonNode {
  background: #71d37f;
  color: #f2f2f2;
}
.flat .dijitSpinnerDisabled.btn-success .dijitSpinnerButtonContainer {
  border-left-color: #71d37f;
}
.flat .dijitSpinnerRtlDisabled.btn-success .dijitSpinnerButtonContainer {
  border-right-color: #71d37f;
}
.flat .dijitSelectDisabled.btn-success {
  border-color: #71d37f;
}
.flat .dijitSelectDisabled.btn-success .dijitStretch,
.flat .dijitSelectDisabled.btn-success .dijitButtonNode {
  background: #71d37f;
  color: #f2f2f2;
}
.flat .dijitComboBoxDisabled.btn-info,
.flat .dijitSpinnerDisabled.btn-info {
  background: #f5f5f5;
  color: #999;
  border: 1px solid #51d6ff;
}
.flat .dijitComboBoxDisabled.btn-info .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-info .dijitButtonNode {
  background: #51d6ff;
  color: #f2f2f2;
}
.flat .dijitSpinnerDisabled.btn-info .dijitSpinnerButtonContainer {
  border-left-color: #51d6ff;
}
.flat .dijitSpinnerRtlDisabled.btn-info .dijitSpinnerButtonContainer {
  border-right-color: #51d6ff;
}
.flat .dijitSelectDisabled.btn-info {
  border-color: #51d6ff;
}
.flat .dijitSelectDisabled.btn-info .dijitStretch,
.flat .dijitSelectDisabled.btn-info .dijitButtonNode {
  background: #51d6ff;
  color: #f2f2f2;
}
.flat .dijitComboBoxDisabled.btn-warning,
.flat .dijitSpinnerDisabled.btn-warning {
  background: #f5f5f5;
  color: #999;
  border: 1px solid #fabd73;
}
.flat .dijitComboBoxDisabled.btn-warning .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-warning .dijitButtonNode {
  background: #fabd73;
  color: #f2f2f2;
}
.flat .dijitSpinnerDisabled.btn-warning .dijitSpinnerButtonContainer {
  border-left-color: #fabd73;
}
.flat .dijitSpinnerRtlDisabled.btn-warning .dijitSpinnerButtonContainer {
  border-right-color: #fabd73;
}
.flat .dijitSelectDisabled.btn-warning {
  border-color: #fabd73;
}
.flat .dijitSelectDisabled.btn-warning .dijitStretch,
.flat .dijitSelectDisabled.btn-warning .dijitButtonNode {
  background: #fabd73;
  color: #f2f2f2;
}
.flat .dijitComboBoxDisabled.btn-danger,
.flat .dijitSpinnerDisabled.btn-danger {
  background: #f5f5f5;
  color: #999;
  border: 1px solid #ea8a69;
}
.flat .dijitComboBoxDisabled.btn-danger .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-danger .dijitButtonNode {
  background: #ea8a69;
  color: #f2f2f2;
}
.flat .dijitSpinnerDisabled.btn-danger .dijitSpinnerButtonContainer {
  border-left-color: #ea8a69;
}
.flat .dijitSpinnerRtlDisabled.btn-danger .dijitSpinnerButtonContainer {
  border-right-color: #ea8a69;
}
.flat .dijitSelectDisabled.btn-danger {
  border-color: #ea8a69;
}
.flat .dijitSelectDisabled.btn-danger .dijitStretch,
.flat .dijitSelectDisabled.btn-danger .dijitButtonNode {
  background: #ea8a69;
  color: #f2f2f2;
}
.flat .dijitComboBoxDisabled.btn-inverse,
.flat .dijitSpinnerDisabled.btn-inverse {
  background: #f5f5f5;
  color: #999;
  border: 1px solid #7a7a7a;
}
.flat .dijitComboBoxDisabled.btn-inverse .dijitButtonNode,
.flat .dijitSpinnerDisabled.btn-inverse .dijitButtonNode {
  background: #7a7a7a;
  color: #f2f2f2;
}
.flat .dijitSpinnerDisabled.btn-inverse .dijitSpinnerButtonContainer {
  border-left-color: #7a7a7a;
}
.flat .dijitSpinnerRtlDisabled.btn-inverse .dijitSpinnerButtonContainer {
  border-right-color: #7a7a7a;
}
.flat .dijitSelectDisabled.btn-inverse {
  border-color: #7a7a7a;
}
.flat .dijitSelectDisabled.btn-inverse .dijitStretch,
.flat .dijitSelectDisabled.btn-inverse .dijitButtonNode {
  background: #7a7a7a;
  color: #f2f2f2;
}
.flat .dijitTextBoxError,
.flat .dijitTextBoxError .dijitButtonNode {
  border-color: #da4d1e;
}
.flat .dijitTextBoxErrorFocused,
.flat .dijitTextBoxErrorFocused .dijitButtonNode {
  border: 1px solid #b94119;
}
.flat .dijitValidationTextBoxError .dijitValidationContainer {
  color: #da4d1e;
  width: 16px;
  font-variant: normal;
  text-transform: none;
  font-family: "dojo-flat-icon";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flat .dijitValidationTextBoxError .dijitValidationContainer:before {
  content: "\e607";
}
.flat .dijitValidationTextBoxError .dijitValidationIcon {
  display: none;
}
