.dijitPopup {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* ----- Drag and Drop ----- */
.dojoDndItem {
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, opacity;
  -moz-transition-property: background-color, border-color, opacity;
  -o-transition-property: background-color, border-color, opacity;
  -ms-transition-property: background-color, border-color, opacity;
  transition-property: background-color, border-color, opacity;
}
/* hover */
.dojoDndItemOver {
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.dojoDndItemAnchor {
  background-color: transparent;
  border: 1px dashed #f00;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* selected */
.dojoDndItemBefore {
  background: transparent;
  padding-top: 2px;
  border-top: 1px solid #f00;
}
.dojoDndItemAfter {
  background: transparent;
  padding-bottom: 2px;
  border-bottom: 1px solid #f00;
}
/* Avatar */
table.dojoDndAvatar {
  display: block;
}
.dojoDndAvatarHeader td {
  display: none;
}
.dojoDndAvatarHeader:before {
  font-variant: normal;
  text-transform: none;
  font-family: "dojo-flat-icon";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table-cell;
}
/* cannot drop */
.dojoDndMove .dojoDndAvatarHeader:before {
  color: #da4d1e;
  content: "\e610";
}
.dojoDndCopy .dojoDndAvatarHeader:before {
  color: #da4d1e;
  content: "\e610";
}
/* can drop */
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #35ac46;
  content: "\e60f";
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #35ac46;
  content: "\e60f";
}
.dojoDndAvatarItem {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.dojoDndAvatarItem td > * {
  padding: 4px 8px;
  list-style-type: none;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
